<div class="">
    <div align='center'>
        <ejs-chart #roundcol style='display:block;' [chartArea]='chartArea' align='center' [id]="id"
            [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip'
            (load)='load($event)' [legendSettings]='legend' (pointRender)='pointRender($event)'
            [enableSideBySidePlacement]='placement' width='100%' height="250px">
            <e-series-collection>
                <e-series [dataSource]='data' type='Column' xName='Country' yName='Rate' width=2 [cornerRadius]='radius'
                    [enableTooltip]=false opacity=0.5 columnWidth=0.8>
                </e-series>
                <e-series [dataSource]='data' type='Column' xName='Country' yName='Literacy_Rate' width=2
                    [marker]='marker' [cornerRadius]='radius' tooltipMappingName='Text' columnWidth=0.8>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
</div>