.control-section {
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    width: 12%;
    margin-right: 8px;
}

#control-wrapper-date {
    max-width: 246px;
    padding-top: 1rem;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}



.width {
    width: 100%;
}
