<div class="flex flex-col width p-2">
    <form [formGroup]="filterForm" class="flex flex-row w-full ">
        <div class="flex flex-row w-2/5 mr-3 p-2 bg-card shadow rounded-xl overflow-hidden">
            <div class="flex flex-col w-full">
                <div class="flex flex-row w-full">
                    <mat-form-field appearance="outline" class="mr-2 w-1/2">
                        <mat-label>Stores</mat-label>
                        <mat-select formControlName="store" multiple>
                            <mat-select-trigger>
                                {{filterForm.get('store').value[0]?.store_name || ''}}
                                <span *ngIf="(filterForm.get('store').value?.length || 0) > 1">
                                    (+{{(filterForm.get('store').value?.length || 0) - 1}}
                                    {{filterForm.get('store').value?.length ===
                                    2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let store of storesData" [value]="store">{{store.store_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class=" w-1/2">
                        <mat-label>Register</mat-label>
                        <mat-select formControlName="register" multiple>
                            <mat-select-trigger>
                                {{filterForm.get('register').value[0]?.store_register_name || ''}}
                                <span *ngIf="(filterForm.get('register').value?.length || 0) > 1">
                                    (+{{(filterForm.get('register').value?.length || 0) - 1}}
                                    {{filterForm.get('register').value?.length ===
                                    2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let register of registerData" [value]="register">
                                {{register.store_register_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="flex flex-row w-full">

                    <mat-form-field appearance="outline" class="mr-2 w-1/2">
                        <mat-label>Order Types</mat-label>
                        <mat-select formControlName="orderStatus" multiple>
                            <mat-select-trigger>
                                {{filterForm.get('orderStatus').value[0] || ''}}
                                <span *ngIf="(filterForm.get('orderStatus').value?.length || 0) > 1">
                                    (+{{(filterForm.get('orderStatus').value?.length || 0) - 1}}
                                    {{filterForm.get('orderStatus').value?.length ===
                                    2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let order of orderTypesData" [value]="order">{{order}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-1/2">
                        <mat-label>Payment Type</mat-label>
                        <mat-select formControlName="paymentMethod" multiple>
                            <mat-select-trigger>
                                {{filterForm.get('paymentMethod').value[0]?.payment_type_name || ''}}
                                <span *ngIf="(filterForm.get('paymentMethod').value?.length || 0) > 1">
                                    (+{{(filterForm.get('paymentMethod').value?.length || 0) - 1}}
                                    {{filterForm.get('paymentMethod').value?.length ===
                                    2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let payment of paymentTypesData" [value]="payment">
                                {{payment.payment_type_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-row w-full">
                    <mat-form-field appearance="outline" class="w-1/2">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input formGroupName="range" [rangePicker]="picker">
                            <input matStartDate formControlName="startdate" placeholder="Start date">
                            <input matEndDate formControlName="enddate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>YYYY/MM/DD – YYYY/MM/DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="filterForm.get(['range','startdate']).hasError('matStartDateInvalid')">
                            Invalid start date
                        </mat-error>
                        <mat-error *ngIf="filterForm.get(['range','enddate']).hasError('matEndDateInvalid')">Invalid
                            end date</mat-error>
                    </mat-form-field>
                    <div class="flex flex-row justify-around mt-3 w-1/2">
                        <button mat-raised-button color="warn">Reset</button>
                        <button mat-raised-button color="primary" (click)="search()">Search</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-3/5 p-2 bg-card shadow rounded-xl overflow-hidden">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 w-full min-w-0">
                <div
                    class="relative col-span-1 flex flex-col items-center justify-center py-6 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.TotalOrders: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm sm:text-lg font-medium">Total Orders</div>
                </div>
                <!-- Closed -->
                <div
                    class="relative col-span-1 flex flex-col items-center justify-center py-6 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.NetTotal: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm sm:text-lg font-medium">Net Total</div>
                </div>
                <div
                    class="relative col-span-1 flex flex-col items-center justify-center py-6 px-1 rounded-2xl bg-amber-50 text-amber-800 dark:bg-white dark:bg-opacity-5 dark:text-amber-500">
                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.GrossTotal: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm sm:text-lg font-medium">Gross Total</div>
                </div>
            </div>
            <div class="flex-auto grid grid-cols-4 gap-4 mt-6">

                <div
                    class="relative col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                    <div class="text-5xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.TotalTax: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm font-medium text-center">TotalTax</div>
                </div>
                <!-- Won't fix -->
                <div
                    class="relative col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                    <div class="text-5xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.TotalDiscount: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm font-medium text-center">Total Discount</div>
                </div>
                <!-- Re-opened -->
                <div
                    class="relative col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                    <div class="text-5xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.Cancel: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>
                    <div class="mt-1 text-sm font-medium text-center">Cancel</div>
                </div>
                <!-- Needs triage -->
                <div
                    class="relative col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                    <div class="text-5xl font-semibold leading-none tracking-tight">
                        {{summaryData && summaryData.length>0 ? summaryData[0]?.Linked: 0}}
                    </div>
                    <div *ngIf="summaryLoading" class="spinner">
                        <mat-spinner style="width: 50px; height:50px"></mat-spinner>

                    </div>

                    <div class="mt-1 text-sm font-medium text-center">Linked</div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="flex flex-row">
        <div class="w-1/3 p-2 bg-card shadow rounded-xl overflow-hidden">
            <app-accumilation-pyramid-chart [loading]="loadingPyramid" [dataValue]="pyramidData" [xName]="pyramidXName"
                [yName]="pyramidYName">
            </app-accumilation-pyramid-chart>
        </div>
        <div class="w-1/3 p-2 bg-card shadow rounded-xl overflow-hidden mx-2">
            <app-step-line-chart [id]="'stepline'" [loading]="loadingStepLine" [max]="stepLineMaxData"
                [min]="stepLineMinData" [header]="'Sales Amount'" [data]="stepLineData" [xName]="stepLineXName"
                [yName]="stepLineYName">
            </app-step-line-chart>
        </div>
        <div class="w-1/3 p-2 bg-card shadow rounded-xl overflow-hidden">
            <app-line-zone-chart [id]="'line-Zone'" [loading]="loadingLineZone" [max]="lineZoneMaxData"
                [min]="lineZoneMinData" [data]="lineZoneData" [xName]="lineZoneXName" [yName]="lineZoneYName">
            </app-line-zone-chart>
        </div>



    </div>
    <br>
    <div class="width">
        <ejs-grid [dataSource]='ordersDataSource' [toolbar]='toolbarOptions' [loadingIndicator]='loadingIndicator'
            [showColumnChooser]='true' [allowSorting]='true' [allowFiltering]='true' [allowPaging]='true'
            [filterSettings]='filterOption' [allowResizing]='true' width='100%'>
            <e-columns>
                <e-column width="200" field='Date' headerText='Date' textAlign='Left' [showInColumnChooser]='false'>
                </e-column>
                <e-column width="200" field='PaymentAmount' headerText='Payment Amount'></e-column>
                <e-column width="200" field='PaymentMethod' headerText='Payment Method' textAlign='Left'></e-column>
                <e-column width="200" field='PaymentTime' headerText='Payment Time' textAlign='Left' format='yMd'
                    [visible]='false'>
                </e-column>
                <e-column width="200" field='Time' headerText='Time' textAlign='Left' format='yMd' [visible]='false'>
                </e-column>
                <e-column textAlign='Left' [visible]='false' width="200" field='sales_order_assigned_user_name'
                    headerText='Sales Order Assigned User Name'></e-column>
                <e-column textAlign='Left' width="200" field='sales_order_dinein_table_name'
                    headerText='Sales Order Dinein Table Name'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_discount_total'
                    headerText='Sales Order Discount Total'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_gross_total'
                    headerText='Sales Order gross Total'></e-column>
                <e-column textAlign='Left' [visible]='false' width="200" field='sales_order_guid'
                    headerText='Sales Order Guid'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_id' headerText='Sales Order Id'></e-column>
                <e-column textAlign='Left' width="200" field='sales_order_net_total_amount'
                    headerText='Sales Order Net Total Amount'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_number' headerText='Sales Order Number'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_roundoff_amount'
                    headerText='Sales Order Roundoff Amount'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_service_type'
                    headerText='Sales Order Service Type'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_status' headerText='Sales Order Status'>
                </e-column>
                <e-column textAlign='Left' [visible]='false' width="200" field='sales_order_store_register_guid'
                    headerText='Sales Order Store Register Guid'></e-column>
                <e-column textAlign='Left' width="200" field='sales_order_surcharge_total'
                    headerText='Sales Order Surcharge Total'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_tax_total' headerText='Sales Order Tax Total'>
                </e-column>
                <e-column textAlign='Left' width="200" field='sales_order_type' headerText='Sales Order Type'>
                </e-column>
                <e-column textAlign='Left' field='sales_order_void_comp_total' headerText='Sales Order Void Comp Total'>
                </e-column>


            </e-columns>
        </ejs-grid>
    </div>

</div>