.control-section {
    display: flex;
    flex-direction: column;
}

.filter-container {
    width: 47%;
}

.input-container {
    width: 65%;
}

.date-btn-container {
    width: 35%
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}



.width {
    width: 100%;
}